h1 {
	text-align: center;
	margin-top: 50px;
}

.findUser {
	max-width: 800px;
	min-width: 480px;
	width: 80%;
	margin:0 auto;
	display: flex;
	flex-direction: column;
}

.intro {
	margin:50px 0;
}

.image img {
	width: 100px;
	height: 100px;
}

.responsity {
	margin-bottom: 50px;
}

.panel-block {
	justify-content: space-between;
}
.panel-icon {
	vertical-align: middle;
}
.panel {
	margin-bottom: 0 !important;
}

.star {
	color: #676767;
}

.star i {
	font-size: 14px;
}

.figure {
	margin: 0;
}

.media {
	padding: 0 40px;
}

